:root {
    --gray-3: rgba(130, 130, 130, 1);
    --heading-l-font-family: "Rubik", Helvetica;
    --heading-l-font-size: 24px;
    --heading-l-font-style: normal;
    --heading-l-font-weight: 500;
    --heading-l-letter-spacing: 0.12px;
    --heading-l-line-height: normal;
    --text-m-font-family: "Quicksand", Helvetica;
    --text-m-font-size: 16px;
    --text-m-font-style: normal;
    --text-m-font-weight: 500;
    --text-m-letter-spacing: 0.08px;
    --text-m-line-height: normal;
    --text-s-font-family: "Quicksand", Helvetica;
    --text-s-font-size: 13px;
    --text-s-font-style: normal;
    --text-s-font-weight: 500;
    --text-s-letter-spacing: 0.065px;
    --text-s-line-height: normal;
  }