/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login {
  background-color: #0e0e0e;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.login .frame {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.login .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e8fe4;
  border-radius: 15px;
  padding: 20px;
  width: 193px;
}

.login .text-wrapper {
  color: #ffffff;
  font-family: "Quicksand-Bold", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.login .don-t-have-an {
  color: #828282;
  font-family: "Quicksand-Medium", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.login .text-wrapper-2 {
  color: #80c2ff;
  margin-top: 20px;
  text-decoration: none;
}

.login .overlap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 15px;
  gap: 10px;
  margin: 10px;
  padding: 15px 20px;
  width: 300px;
  position: relative;
}

.text-input {
  width: 100%;
  padding: 10px 40px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #ccc;
  outline: none;
  caret-color: #ccc;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #ccc;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.login .login-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .login .frame {
    gap: 15px;
  }

  .login .div-wrapper {
    width: 220px;
    padding: 25px;
  }

  .login .text-wrapper {
    font-size: 22px;
  }

  .login .don-t-have-an {
    font-size: 16px;
  }

  .login .text-wrapper-2 {
    font-size: 18px;
  }

  .login .overlap {
    width: 350px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .login .frame {
    gap: 20px;
  }

  .login .div-wrapper {
    width: 240px;
    padding: 30px;
  }

  .login .text-wrapper {
    font-size: 26px;
  }

  .login .don-t-have-an {
    font-size: 18px;
  }

  .login .text-wrapper-2 {
    font-size: 20px;
  }

  .login .overlap {
    width: 380px;
    height: 180px;
  }

}
